@{
    ViewData["Title"] = "SellStuff - Home";
}


<div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-5 fw-bold">SellStuff</h1>
        <div class="col-lg-6 mx-auto">
         <p class="lead mb-4">The one stop shop to conveniently trade in. Click below to begin!!</p>
         <a asp-controller="Bookings"  asp-action="Create" class="btn btn-lg btn-primary">Sell your phone</a>
        </div>
</div>



<script type="text/javascript">
    
</script>




